%% vim: set filetype=erlang:
[
  {lager,
    [
      {error_logger_redirect, false}
    ]},
  {sighandler,
    [
      {handlers, [
          {int, {init, stop, []}}
        ]}
    ]},
  {plank,
    [
      {web,
        [
          {callback, rest},
          {port, 3000},
          {host, <<"localhost">>}
        ]}
    ]}
].
